---
import BaseLayout from "../layouts/BaseLayout.astro";

const markdownFiles = Object.values(
	import.meta.glob("./tutorial/*.md", { eager: true }),
);
---

<BaseLayout title="Sequelize Tutorial">
	<p>This is a tutorial on using Sequelize.</p>

	<p>
		<a
			href="https://github.com/chungkw/sequelize_tutorial"
			target="_blank"
			rel="noopener noreferrer"
		>
			GitHub Repo
		</a>
	</p>

	<p>
		<a
			href="https://github.com/chungkw"
			target="_blank"
			rel="noopener noreferrer"
		>
			Written by Kin Wai
		</a>
	</p>

	<ul>
		{
			markdownFiles.map((file: any) => (
				<li>
					<a href={file.url}>{file.frontmatter.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
