---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const pages = await getCollection("tutorial");
---

<BaseLayout title="Sequelize Tutorial">
	<p>This is a tutorial on using Sequelize.</p>

	<p>
		<a
			href="https://github.com/chungkw/sequelize_tutorial"
			target="_blank"
			rel="noopener noreferrer"
		>
			GitHub Repo
		</a>
	</p>

	<p>
		<a
			href="https://github.com/chungkw"
			target="_blank"
			rel="noopener noreferrer"
		>
			Written by Kin Wai
		</a>
	</p>

	<ul>
		{
			pages.map((page) => (
				<li class="mb-2">
					<a href={`/sequelize_tutorial/tutorial/${page.id}`}>{page.data.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
