---
import { getCollection } from "astro:content";

const pages = await getCollection("tutorial");

function checkIsActive(href: string) {
    return Astro.url.pathname.includes(href);
}
---

<div class="d-block d-lg-none mb-3">
    <button
        class="btn btn-outline-dark w-100"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#chapters"
        aria-expanded="false"
        aria-controls="chapters"
    >
        Show Chapters
    </button>
</div>

<div class="collapse d-lg-block mb-3" id="chapters">
    <nav class="list-group pe-lg-2">
        {
            pages.map((page) => {
                const href = `/sequelize_tutorial/tutorial/${page.id}`;
                const isActive = checkIsActive(href);

                return (
                    <a
                        href={href}
                        class:list={[
                            "list-group-item list-group-item-action",
                            { active: isActive, "text-body": !isActive },
                        ]}
                    >
                        {page.data.title}
                    </a>
                );
            })
        }
    </nav>
</div>

<style>
    nav {
        max-height: none;
        overflow: auto;
    }

    @media (min-width: 992px) {
        nav {
            max-height: calc(100dvh - 90px);
            overflow: auto;
        }
    }
</style>
