---
import BaseLayout from "./BaseLayout.astro";

import { type CollectionEntry, getCollection } from "astro:content";

type Props = CollectionEntry<"tutorial">["data"];

const pages = await getCollection("tutorial");

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <div class="row">
        <div class="col">
            <ul>
                {
                    pages.map((page) => (
                        <li class="mb-2">
                            <a href={`/sequelize_tutorial/tutorial/${page.id}`}>
                                {page.data.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>

        <div class="col-lg-9">
            <slot />
        </div>
    </div>
</BaseLayout>

<style is:inline>
    img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-height: 50px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    pre.astro-code {
        padding: 1rem;
        border-radius: 1rem;
    }
</style>
