---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import ChapterNav from "../components/ChapterNav.astro";

import type { CollectionEntry } from "astro:content";
import ChapterPagination from "../components/ChapterPagination.astro";

interface Props {
    id: string;
    data: CollectionEntry<"tutorial">["data"];
}

const { id, data } = Astro.props;
---

<BaseLayout title={data.title}>
    <Header />

    <div class="container">
        <div class="row">
            <div class="col col-lg-3">
                <ChapterNav />
            </div>

            <div class="col-12 col-lg-9">
                <slot />

                <ChapterPagination id={id} />
            </div>
        </div>
    </div>
</BaseLayout>

<style is:inline>
    img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-height: 50px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    pre.astro-code {
        padding: 1rem;
        border-radius: 0.5rem;
    }
</style>
