---
import BaseLayout from "./BaseLayout.astro";

import Header from "../components/Header.astro";
import ChapterNav from "../components/ChapterNav.astro";
import ChapterPagination from "../components/ChapterPagination.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
    id: string;
    data: CollectionEntry<"tutorial">["data"];
}

const { id, data } = Astro.props;
---

<BaseLayout title={`${data.title} - Sequelize Tutorial`}>
    <Header />

    <div class="container">
        <aside>
            <ChapterNav />
        </aside>

        <main>
            <article>
                <slot />
            </article>

            <ChapterPagination id={id} />
        </main>
    </div>
</BaseLayout>

<style>
    aside {
        position: static;
        width: 100%;
    }

    @media (min-width: 992px) {
        aside {
            position: fixed;
            width: 28ch;
        }
    }

    main {
        margin: 0;
    }

    @media (min-width: 992px) {
        main {
            margin-left: 30ch;
        }
    }
</style>

<style is:inline>
    img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-height: 50px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    pre.astro-code {
        padding: 1rem;
        border-radius: 0.5rem;
    }
</style>
