---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import ChapterNav from "../components/ChapterNav.astro";

import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"tutorial">["data"];

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <Header />

    <div class="container">
        <div class="row">
            <div class="col">
                <ChapterNav />
            </div>

            <div class="col-lg-9">
                <slot />
            </div>
        </div>
    </div>
</BaseLayout>

<style is:inline>
    img {
        display: block;
        margin: auto;
        max-width: 100%;
        min-height: 50px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    pre.astro-code {
        padding: 1rem;
        border-radius: 1rem;
    }
</style>
